Repository n8io/typescript-service-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-check, type-check, spell-check

lint-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip: rebase

type-check:
  run: npx tsc --noEmit {staged_files}
  stage_fixed: true
  skip: rebase

spell-check:
  run: npx cspell {staged_files}

chore(NATE-078): ✨ Enhance testing and TypeScript guidelines
  .cursor/rules/testing.mdc
  .cursor/rules/typescript.mdc
Due: none

chore(NATE-078): ✨ Update database and terminal command guidelines
  .cursor/rules/database.mdc
  .cursor/rules/nvm-install-before-npm.mdc
  .cursor/rules/terminal-commands.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/typescript.mdc
Due: none

chore(NATE-078): ✨ Introduce system rules
  .cursor/rules/system.mdc
  .cursor/rules/testing.mdc
  src/api/http/generate-all-openapi-specs.test.ts
  src/api/http/generate-all-openapi-specs.ts
  src/api/http/init.ts
Due: lint-check, type-check, spell-check

chore(NATE-078): ✨ Update database and system rules
  .cursor/rules/database.mdc
  .cursor/rules/system.mdc
Due: none

chore(NATE-080): ✨ Update glob patterns in project rules
  .cursor/rules/database/migration-files.mdc
  .cursor/rules/domain-driven-architecture/api-structure.mdc
  .cursor/rules/domain-driven-architecture/domain-layer.mdc
  .cursor/rules/domain-driven-architecture/spi-layer.mdc
  .cursor/rules/testing/code-coverage.mdc
  .cursor/rules/testing/file-structure.mdc
  .cursor/rules/testing/mocking-assertions.mdc
  .cursor/rules/testing/node-version.mdc
  .cursor/rules/testing/running-tests.mdc
  .cursor/rules/testing/vitest-usage.mdc
  .cursor/rules/typescript/code-formatting.mdc
Due: none

chore(NATE-081): ✨ Refactor validation and gid handling
  .cursor/rules/terminal-commands/nvm-install-first.mdc
  src/api/http/generate-all-openapi-specs.test.ts
  src/api/http/v1/routes/resources.ts
  src/domain/services/resource.test.ts
  src/domain/services/resource.ts
  src/utils/generators/gid.test.ts
  src/utils/generators/gid.ts
  src/utils/validation.test.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

chore(NATE-082): ✨ Enhance ResourceService properties and schemas
  src/domain/services/resource.ts
Due: lint-check, type-check, spell-check

chore(NATE-083): ✨ Update OpenAPI schema example for resource entity
  specs/v1/openapi.json
Due: lint-check

chore(NATE-084): ✨ Update testing best practices documentation
  .cursor/docs/testing-best-practices.md
Due: spell-check

chore(NATE-085): ✨ Refactor ResourceService and introduce BaseService
  .vscode/settings.json
  specs/v1/openapi.json
  src/domain/services/models/base-service.test.ts
  src/domain/services/models/base-service.ts
  src/domain/services/resource.test.ts
  src/domain/services/resource.ts
  src/domain/spi-ports/resource-repository.ts
  src/models/audit-record.ts
  src/spi/repositories/models/db-record.ts
  src/spi/repositories/models/drizzle-repository.ts
  src/spi/repositories/resource.ts
Due: lint-check, type-check, spell-check

test(NATE-086): 🧪 Remove resource tests and add deleteMany method
  src/spi/repositories/models/drizzle-repository.test.ts
  src/spi/repositories/models/drizzle-repository.ts
  src/spi/repositories/resource.test.ts
Due: lint-check, type-check, spell-check

feat(NATE-088): ✨ Enhance updateMany method to include updatedBy and updatedAt fields
  .extras/postinstall.mjs
  .extras/validate-commit-message.mjs
  biome.jsonc
  package.json
  src/domain/spi-ports/resource-repository.ts
  src/spi/repositories/models/drizzle-repository.test.ts
  src/spi/repositories/models/drizzle-repository.ts
  src/spi/repositories/utils/domain-updates-to-drizzle-query.test.ts
  src/spi/repositories/utils/domain-updates-to-drizzle-query.ts
Due: lint-check, type-check, spell-check

feat(NATE-087): ✨ Refactor `ResourceService` use `ResourceRepository`'s `updateMany` method
  src/domain/services/models/base-service.test.ts
  src/domain/services/models/base-service.ts
  src/domain/services/resource.test.ts
  src/domain/spi-ports/resource-repository.ts
  src/spi/repositories/models/drizzle-repository.test.ts
  src/spi/repositories/models/drizzle-repository.ts
  src/spi/repositories/utils/domain-updates-to-drizzle-query.test.ts
  src/spi/repositories/utils/domain-updates-to-drizzle-query.ts
  src/utils/types.ts
Due: lint-check, type-check, spell-check

feat(NATE-089): ✨ Upgrade biome to v2 (beta)
  biome.jsonc
  package-lock.json
  package.json
Due: lint-check

chore(NATE-089): 🚨 Update linting comments and import types across multiple files
  .extras/postinstall.mjs
  .extras/validate-commit-message.mjs
  drizzle.config.ts
  src/api/http/common/root.test.ts
  src/api/http/generate-all-openapi-specs.ts
  src/api/http/middleware/error-handler.ts
  src/api/http/v1/app.ts
  src/api/http/v1/openapi/append-open-api-metadata.test.ts
  src/api/http/v1/openapi/append-open-api-metadata.ts
  src/api/http/v1/routes/resources.ts
  src/domain/models/pagination.ts
  src/domain/spi-ports/resource-repository.ts
  src/models/custom-error.ts
  src/spi/repositories/database/init.test.ts
  src/spi/repositories/database/utils/schema-to-drizzle-table.ts
  src/spi/repositories/models/drizzle-repository.test.ts
  src/spi/repositories/models/drizzle-repository.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.ts
  src/spi/repositories/utils/domain-updates-to-drizzle-query.test.ts
  src/spi/repositories/utils/domain-updates-to-drizzle-query.ts
  src/spi/repositories/utils/spi-get-many-request-to-paginated-result.test.ts
  src/spi/repositories/utils/spi-get-many-request-to-paginated-result.ts
  src/utils/app-state-manager.test.ts
  src/utils/config.ts
  src/utils/fp.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
  src/utils/url-search-params/filters.ts
Due: lint-check, type-check, spell-check

refactor(NATE-090): ♻️ Rename resourcesTable to tableResources for consistency
  src/spi/repositories/database/schema.ts
  src/spi/repositories/resource.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.test.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.ts
Due: lint-check, type-check, spell-check

feat(NATE-090): ✨ Introduce PaginatedResponse type and enhance pagination schema
  .extras/validate-commit-message.mjs
  src/domain/models/pagination.ts
  src/domain/services/models/base-service.test.ts
  src/domain/services/models/base-service.ts
  src/domain/services/resource.test.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

feat(NATE-091): ✨ Implement DELETE endpoint for resource deletion
  src/api/http/init.test.ts
  src/api/http/v1/routes/resources.test.ts
  src/api/http/v1/routes/resources.ts
  src/domain/services/models/base-service.test.ts
  src/domain/services/models/base-service.ts
  src/domain/services/resource.test.ts
  src/domain/spi-ports/resource-repository.ts
Due: lint-check, type-check, spell-check

feat(NATE-092): ✨ Update environment configuration and enhance error handling
  src/models/config.ts
  src/models/custom-error.ts
Due: lint-check, type-check, spell-check

Path conditions:
  lint-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
  spell-check: any of: *.{js,ts,jsx,tsx,md}
