Repository n8io/typescript-service-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-check, type-check, spell-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip: rebase
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit {staged_files}
      stage_fixed: true
      skip: rebase
    spell-check:
      glob: '*.{js,ts,jsx,tsx,md}'
      run: npx cspell {staged_files}
commit-msg:
  parallel: true
  commands: 
    validate_commit: 
      run: node ./validate-commit-message.mjs
pre-push:
  parallel: true
  commands:
    branchName:
      run: npx validate-branch-name

refactor(NATE-093): ♻️ Enhance schema-to-drizzle-table utility and improve type handling
  src/spi/repositories/database/utils/schema-to-drizzle-table.ts
  src/spi/repositories/models/drizzle-repository.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.ts
  src/spi/repositories/utils/spi-get-many-request-to-paginated-result.ts
Due: lint-check, type-check, spell-check

chore(NATE-094): 📦 Update package-lock.json and package.json for dependency upgrades
  package-lock.json
  package.json
Due: lint-check

refactor(NATE-095): ♻️ Update response type in `toResponse` function for better type safety
  src/api/http/v1/openapi/append-open-api-metadata.ts
Due: lint-check, type-check, spell-check

chore(NATE-096): 📚 Update documentation for branch and TypeScript best practices
  .cursor/docs/branch-best-practices.md
  .cursor/docs/typescript-best-practices.md
  .cursor/rules/branch-naming/branch-types.mdc
  .cursor/rules/typescript/code-formatting.mdc
  .cursor/rules/typescript/code-organization.mdc
  .cursor/rules/typescript/constants.mdc
  .cursor/rules/typescript/meaningful-names.mdc
  .cursor/rules/typescript/naming-conventions.mdc
Due: spell-check

chore(NATE-097): 📚 Update documentation and rules for Node.js and testing
  .cursor/rules/npm/ensure-node-version.mdc
  .cursor/rules/openapi/applying-changes.mdc
  .cursor/rules/terminal-commands/nvm-install-first.mdc
  .cursor/rules/testing/running-tests.mdc
  package-lock.json
  specs/v1/openapi.json
  src/domain/models/resource.ts
Due: lint-check, type-check, spell-check

chore(NATE-098): 📚 Update branch naming and commit message guidelines
  .cursor/rules/branch-naming/branch-types.mdc
  .cursor/rules/commit-messages/emoji-usage.mdc
  .cursor/rules/project-structure/layered-architecture.mdc
Due: none

refactor(NATE-099): ♻️ Update request models and sorting utilities for improved type safety and consistency
  knip.jsonc
  src/api/http/v1/routes/resources.test.ts
  src/api/http/v1/routes/resources.ts
  src/domain/models/request.ts
  src/domain/services/models/base-service.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.ts
  src/utils/url-search-params/sorting.test.ts
  src/utils/url-search-params/sorting.ts
Due: lint-check, type-check, spell-check

chore(NATE-101): 🛠️ Fix npm audit
  package-lock.json
Due: lint-check

chore(NATE-102): 📚 Update TypeScript guidelines for improved readability and organization
  .cursor/rules/typescript/code-formatting.mdc
  .cursor/rules/typescript/type-system.mdc
Due: none

chore(NATE-103): 📦 Add `neverthrow` dependency to package.json and package-lock.json
  package-lock.json
  package.json
Due: lint-check

feat(NATE-104): ✨ Introduce domain and SPI error models with factory functions
  src/models/domain-errors.ts
  src/models/result.ts
  src/models/spi-errors.ts
  src/spi/repositories/database/error.ts
  src/spi/repositories/database/schema.ts
  src/spi/repositories/database/utils/schema-to-drizzle-table.test.ts
  src/spi/repositories/database/utils/schema-to-drizzle-table.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.ts
Due: lint-check, type-check, spell-check

refactor(NATE-104): ♻️ Enhance error handling and testing in `ResourceService`
  .cursor/rules/testing/running-tests.mdc
  package-lock.json
  package.json
  specs/v1/openapi.json
  src/api/http/middleware/error-handler.test.ts
  src/api/http/middleware/error-handler.ts
  src/api/http/utils/result-handler.ts
  src/api/http/v1/routes/resources.test.ts
  src/api/http/v1/routes/resources.ts
  src/domain/models/request.ts
  src/domain/services/init.ts
  src/domain/services/models/base-service.test.ts
  src/domain/services/models/base-service.ts
  src/domain/services/resource.test.ts
  src/domain/services/resource.ts
  src/domain/spi-ports/errors.ts
  src/domain/spi-ports/resource-repository.ts
  src/models/audit-record.ts
  src/models/custom-error.ts
  src/models/domain-errors.ts
  src/models/http-status.ts
  src/models/result.ts
  src/models/spi-errors.ts
  src/spi/repositories/database/error.ts
  src/spi/repositories/database/migrations/0001_superb_agent_brand.sql
  src/spi/repositories/database/migrations/meta/0001_snapshot.json
  src/spi/repositories/database/migrations/meta/_journal.json
  src/spi/repositories/database/utils/schema-to-drizzle-table.ts
  src/spi/repositories/models/drizzle-repository.ts
  src/utils/errors.test.ts
  src/utils/errors.ts
Due: lint-check, type-check, spell-check

chore(NATE-104): 📦 Update package-lock.json to reflect dependency upgrades
  package-lock.json
Due: lint-check

chore(NATE-103): 📦 Update package-lock.json for dependency upgrades
  package-lock.json
Due: lint-check

chore(NATE-104): 📦 Upgrade to tsgo for TypeScript type checking
  .cursor/rules/terminal-commands/use-npm-scripts.mdc
  knip.jsonc
  package-lock.json
  package.json
  src/api/http/init.test.ts
Due: lint-check, type-check, spell-check

chore(NATE-105): 📦 Update dependencies and improve error logging
  package-lock.json
  package.json
  src/api/http/middleware/error-handler.ts
  src/index.test.ts
  src/utils/app-state-manager.test.ts
  src/utils/app-state-manager.ts
Due: lint-check, type-check, spell-check

chore(NATE-106): 📚 Enhance documentation and scripts for improved development workflow
  .cursor/docs/database-best-practices.md
  .cursor/docs/domain-driven-architecture-best-practices.md
  CONTRIBUTING.md
  README.md
  TEMPLATE_CUSTOMIZATION.md
  package.json
  src/api/http/v1/routes/resources.ts
  src/domain/models/resource.ts
  src/domain/services/models/base-service.test.ts
  src/domain/services/models/base-service.ts
  src/index.ts
  src/models/audit-record.ts
  src/models/custom-error.ts
  src/spi/repositories/models/db-record.ts
  src/utils/config.ts
  src/utils/factories/gid.test.ts
  src/utils/factories/gid.ts
  src/utils/factories/id.test.ts
  src/utils/factories/id.ts
  src/utils/validation.test.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

chore(NATE-107): 📦 Update dependencies and enhance request handling
  docker-compose.yml
  package-lock.json
  package.json
  src/api/http/init.test.ts
  src/api/http/init.ts
  src/api/http/middleware/init.ts
  src/api/http/middleware/logger.test.ts
  src/api/http/middleware/logger.ts
  src/api/http/v1/models.ts
  src/api/init.ts
  src/spi/repositories/database/error.ts
  src/utils/app-state-manager.ts
Due: lint-check, type-check, spell-check
