Repository n8io/typescript-service-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-check, type-check, spell-check

lint-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip: rebase

type-check:
  run: npx tsc --noEmit {staged_files}
  stage_fixed: true
  skip: rebase

spell-check:
  run: npx cspell {staged_files}

chore(NATE-059): 📘 Correct emoji for Hono server framework in goals section of README
  README.md
Due: spell-check

chore(NATE-060): 📘 Fix typo in README.md
  README.md
Due: spell-check

feat(NATE-061): ✨ Remove the `gid` default on the Resource schema
  package-lock.json
  src/api/http/v1/docs.ts
  src/domain/models/resource.ts
  src/spi/repositories/resource.ts
  src/utils/transforms/schema-to-drizzle-table.test.ts
  src/utils/transforms/schema-to-drizzle-table.ts
Due: lint-check, type-check, spell-check

feat(NATE-061): ✨ Make the `.nvmrc` the single source of truth for node version
  .dockerignore
  .extras/preinstall.mjs
  .npmrc
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
Due: lint-check, spell-check

refactor(NATE-062): ♻️ Refactor resource repository and related utilities for improved query handling and pagination
  src/domain/services/resource.ts
  src/domain/services/utils/domain-get-one-request-to-get-many-request.test.ts
  src/domain/services/utils/domain-get-one-request-to-get-many-request.ts
  src/domain/services/utils/spi-get-many-response-to-domain-paginated-response.test.ts
  src/domain/services/utils/spi-get-many-response-to-domain-paginated-response.ts
  src/spi/repositories/database/error.ts
  src/spi/repositories/database/schema.ts
  src/spi/repositories/database/utils/schema-to-drizzle-table.test.ts
  src/spi/repositories/database/utils/schema-to-drizzle-table.ts
  src/spi/repositories/resource.test.ts
  src/spi/repositories/resource.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.test.ts
  src/spi/repositories/utils/domain-get-many-request-to-drizzle-query.ts
  src/spi/repositories/utils/spi-get-many-request-to-paginated-result.test.ts
  src/spi/repositories/utils/spi-get-many-request-to-paginated-result.ts
  tsconfig.json
Due: lint-check, type-check, spell-check

feat(NATE-063): ✨ Generate and persist openapi.yml when developing
  docker-compose.yml
  openapi.json
  package-lock.json
  specs/v1/openapi.json
  src/api/generate-all-openapi-specs.test.ts
  src/api/generate-all-openapi-specs.ts
  src/api/init.test.ts
  src/api/init.ts
Due: lint-check, type-check, spell-check

chore(NATE-064): 📘 Update scripts and configurations for improved clarity and functionality
  .extras/postinstall.mjs
  .extras/preinstall.mjs
  .extras/validate-commit-message.mjs
  Dockerfile
  biome.jsonc
  docker-compose.yml
  package.json
  specs/v1/openapi.json
  src/domain/models/resource.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

fix(NATE-065): 🐛 Remove error handling from NODE_VERSION in docker-compose.yml
  docker-compose.yml
Due: none

refactor(NATE-066): ♻️ Consolidate `ResourceService` schema definitions for clarity and consistency
  src/api/http/v1/routes/resources.ts
  src/domain/services/resource.ts
Due: lint-check, type-check, spell-check

refactor(NATE-0667): ♻️ Simplify schema definitions and enhance pagination defaults in request model
  drizzle.config.ts
  specs/v1/openapi.json
  src/api/http/v1/openapi/models.ts
  src/domain/models/pagination.ts
  src/domain/models/request.ts
  src/domain/models/resource.ts
  src/index.ts
  src/models/audit-record.ts
  src/utils/validation.ts
  vitest.config.ts
Due: lint-check, type-check, spell-check

feat(NATE-068): ✨ Update npm version constraint in package.json and package-lock.json to use caret notation
  .extras/preinstall.mjs
  openapi.json
  package-lock.json
  package.json
Due: lint-check

refactor(NATE-069): ♻️ Refactor OpenAPI spec generation and route configuration
  .dockerignore
  docker-compose.yml
  specs/v1/openapi.json
  src/api/generate-all-openapi-specs.test.ts
  src/api/generate-all-openapi-specs.ts
  src/api/http/init.test.ts
  src/api/http/init.ts
  src/api/http/v1/init.ts
  src/api/http/v1/openapi/append-open-api-metadata.ts
  src/api/http/v1/openapi/copy.ts
  src/api/http/v1/openapi/init.ts
  src/api/http/v1/routes/resources.ts
  src/api/init.ts
  src/domain/models/resource.ts
  src/models/audit-record.ts
Due: lint-check, type-check, spell-check

test(NATE-070): 🧪 Add test coverage for openapi utils
  src/api/http/v1/openapi/append-open-api-metadata.test.ts
  src/api/http/v1/openapi/append-open-api-metadata.ts
  src/api/http/v1/openapi/copy.test.ts
  src/api/http/v1/openapi/copy.ts
Due: lint-check, type-check, spell-check

chore(NATE-071): 🔧 Add cursor rules for project standards
  .cursor/rules/branch-naming.mdc
  .cursor/rules/commit-messages.mdc
  .cursor/rules/database.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/unit-tests.mdc
Due: none

chore(NATE-071): ♻️ Move OpenAPI spec generation utility
  .cursor/rules/api.mdc
  src/api/http/generate-all-openapi-specs.test.ts
  src/api/http/generate-all-openapi-specs.ts
  src/api/http/init.ts
  src/api/http/v1/openapi/append-open-api-metadata.test.ts
Due: lint-check, type-check, spell-check

chore(NATE-073): ✨ Add TypeScript best practices and clean code guidelines to cursor rules
  .cursor/rules/_.typescript.mdc
  .cursor/rules/api.mdc
  .cursor/rules/branch-naming.mdc
  .cursor/rules/clean-code.mdc
  .cursor/rules/code-quality.mdc
  .cursor/rules/commit-messages.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/database.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/testing.mdc
  src/api/http/generate-all-openapi-specs.ts
Due: lint-check, type-check, spell-check

test(NATE-074): 🧪 Enhance test coverage for OpenAPI metadata appending functionality
  .cursor/rules/development-workflow.mdc
  src/api/http/v1/openapi/append-open-api-metadata.test.ts
  src/api/http/v1/openapi/append-open-api-metadata.ts
Due: lint-check, type-check, spell-check

feat(NATE-075): ✨ Add Remeda library and update OpenAPI metadata handling
  package-lock.json
  package.json
  specs/v1/openapi.json
  src/api/http/v1/openapi/append-open-api-metadata.test.ts
  src/api/http/v1/openapi/append-open-api-metadata.ts
  src/api/http/v1/routes/resources.ts
  src/domain/services/resource.ts
  src/utils/fp.ts
Due: lint-check, type-check, spell-check

refactor(NATE-076): ♻️ Rename TypeScript Cursor rule file
  .cursor/rules/typescript.mdc
Due: none

chore(NATE-077): 🔧 Update Node and npm version constraints to 24 and 11 in configuration files
  .nvmrc
  package-lock.json
  package.json
Due: lint-check

Path conditions:
  lint-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
  spell-check: any of: *.{js,ts,jsx,tsx,md}
