Repository n8io/typescript-service-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-check, type-check, spell-check

lint-check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip: rebase

type-check:
  run: npx tsc --noEmit {staged_files}
  stage_fixed: true
  skip: rebase

spell-check:
  run: npx cspell {staged_files}

feat(NATE-041): ✨ Major refactors with logger
  README.md
  biome.jsonc
  drizzle.config.ts
  package-lock.json
  src/api/http/middleware/error-handler.test.ts
  src/api/http/middleware/error-handler.ts
  src/api/http/middleware/init.test.ts
  src/api/http/middleware/init.ts
  src/api/http/middleware/logger.test.ts
  src/api/http/middleware/logger.ts
  src/api/init.test.ts
  src/api/init.ts
  src/index.test.ts
  src/index.ts
  src/models/config.ts
  src/spi/repositories/database/init.test.ts
  src/utils/app-state-manager.test.ts
  src/utils/app-state-manager.ts
  src/utils/config.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
  src/utils/url-search-params/to-object.test.ts
  src/utils/url-search-params/to-object.ts
  vitest.config.ts
Due: lint-check, type-check, spell-check

feat(NATE-042): ✨ Properly update dependencies during local (dockerized) development
  .dockerignore
  .env.example
  .extras/docker-entrypoint.sh
  docker-compose.yml
Due: none

feat(NATE-042): ✨ Update NODE_OPTIONS for debugging and add VSCode launch configuration
  .env.example
  .vscode/launch.jsonc
  README.md
  docker-compose.yml
Due: lint-check, spell-check

feat(NATE-043): ✨ Add VSCode launch configuration for Docker and enhance docker-compose with watch support
  .lefthook.yml
  .vscode/launch.json
  README.md
  docker-compose.yml
  package.json
Due: lint-check, spell-check

feat(NATE-043): ✨ Enhance Docker configuration with watch support and update database migration scripts
  docker-compose.yml
  package.json
  src/api/http/middleware/logger.test.ts
  src/api/http/middleware/logger.ts
  src/domain/models/resource.ts
  src/utils/transforms/schema-to-drizzle-table.ts
Due: lint-check, type-check, spell-check

feat(NATE-044): ✨ Add check-for-db-drift script and integrate it into pre-commit hooks for database migration checks
  .extras/check-for-db-drift.sh
  .github/workflows/build.yml
  .lefthook.yml
  README.md
  package.json
Due: lint-check, spell-check

feat(NATE-045): ✨ Update check-for-db-drift script messages and improve package.json scripts
  .extras/check-for-db-drift.sh
  package-lock.json
  package.json
Due: lint-check

feat(NATE-046): ✨ Remove postinstall script in docker build
  .github/workflows/build.yml
  Dockerfile
  package-lock.json
Due: lint-check

feat(NATE-047): ✨ Refactor Docker setup, enhance postinstall script, and update environment configurations
  .dockerignore
  .env.example
  .extras/postinstall.mjs
  Dockerfile
  docker-compose.yml
  package.json
  src/api/http/init.test.ts
  src/api/http/middleware/init.test.ts
  src/api/http/middleware/init.ts
  src/api/init.test.ts
  src/api/init.ts
Due: lint-check, type-check, spell-check

feat(NATE-048): ✨ Integrate OpenTelemetry for enhanced logging and context propagation
  package-lock.json
  package.json
  src/api/http/middleware/logger.test.ts
  src/utils/instrumentation.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
Due: lint-check, type-check, spell-check

feat(NATE-049): ✨ Refactor GID and ID generators to include example functions and improve validation
  src/models/audit-record.ts
  src/utils/generators/gid.test.ts
  src/utils/generators/gid.ts
Due: lint-check, type-check, spell-check

feat(NATE-050): ✨ Improve health endpoint and add DDOS protection with LRU cache
  docker-compose.yml
  package-lock.json
  package.json
  src/api/http/init.test.ts
  src/api/http/init.ts
  src/api/http/middleware/health.test.ts
  src/api/http/middleware/health.ts
  src/api/init.test.ts
  src/api/init.ts
  src/index.test.ts
  src/index.ts
  src/spi/repositories/database/init.test.ts
  src/spi/repositories/database/init.ts
Due: lint-check, type-check, spell-check

chore(NATE-051): 🔀 Move health check up one directory
  src/api/http/health.test.ts
  src/api/http/health.ts
  src/api/http/init.ts
Due: lint-check, type-check, spell-check

feat(NATE-052): ✨ Implement favicon and health endpoints with corresponding tests
  src/api/http/common/favicon.test.ts
  src/api/http/common/favicon.ts
  src/api/http/common/health.test.ts
  src/api/http/common/health.ts
  src/api/http/common/init.ts
  src/api/http/common/root.test.ts
  src/api/http/common/root.ts
  src/api/http/health.test.ts
  src/api/http/init.test.ts
  src/api/http/init.ts
  src/utils/app-state-manager.ts
Due: lint-check, type-check, spell-check

feat(NATE-053): ✨ Enhance health check logic and add caching mechanism in tests
  src/api/http/common/health.test.ts
  src/api/http/common/health.ts
Due: lint-check, type-check, spell-check

feat(NATE-054): ✨ Add PATCH endpoint for updating resources
  src/api/http/init.test.ts
  src/api/http/v1/routes/resources.test.ts
  src/api/http/v1/routes/resources.ts
  src/domain/services/resource.test.ts
  src/domain/services/resource.ts
  src/domain/spi-ports/resource-repository.ts
  src/spi/repositories/resource.test.ts
  src/spi/repositories/resource.ts
Due: lint-check, type-check, spell-check

feat(NATE-055): ✨ Integrate AppStateManager with initApi and update tests
  src/api/init.test.ts
  src/api/init.ts
  src/index.test.ts
  src/index.ts
Due: lint-check, type-check, spell-check

feat(NATE-056): ✨ Add openapi spec and Scalar UI (swagger but better)
  .extras/docker-entrypoint.sh
  package-lock.json
  package.json
  src/api/http/common/init.ts
  src/api/http/init.test.ts
  src/api/http/init.ts
  src/api/http/middleware/domain/client-id.test.ts
  src/api/http/middleware/domain/client-id.ts
  src/api/http/middleware/domain/init.ts
  src/api/http/middleware/domain/services.test.ts
  src/api/http/middleware/init.test.ts
  src/api/http/middleware/init.ts
  src/api/http/models/openapi.ts
  src/api/http/models/request.ts
  src/api/http/v1/app.ts
  src/api/http/v1/docs.ts
  src/api/http/v1/init.test.ts
  src/api/http/v1/init.ts
  src/api/http/v1/models.ts
  src/api/http/v1/openapi/copy.ts
  src/api/http/v1/openapi/generate-open-api-route-config.ts
  src/api/http/v1/openapi/init.ts
  src/api/http/v1/openapi/models.ts
  src/api/http/v1/routes/resources.test.ts
  src/api/http/v1/routes/resources.ts
  src/api/init.ts
  src/domain/models/pagination.ts
  src/domain/models/resource.ts
  src/domain/services/resource.ts
  src/models/audit-record.ts
  src/models/entity.ts
  src/utils/generators/gid.ts
  src/utils/validation.ts
  tsconfig.json
Due: lint-check, type-check, spell-check

feat(NATE-057): 📘 Update README to mark autogenerated OpenAPI spec and documentation as complete
  README.md
Due: spell-check

feat(NATE-058): 🐛 Replace console.error with logger.error in uncaughtException handler and remove console.warn mock in tests
  src/api/http/middleware/error-handler.test.ts
  src/index.test.ts
  src/utils/app-state-manager.ts
Due: lint-check, type-check, spell-check

Path conditions:
  lint-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{ts,tsx}
  spell-check: any of: *.{js,ts,jsx,tsx,md}
