Repository n8io/typescript-service-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint-check, type-check, spell-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip: rebase
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit {staged_files}
      stage_fixed: true
      skip: rebase
    spell-check:
      glob: '*.{js,ts,jsx,tsx,md}'
      run: npx cspell {staged_files}
commit-msg:
  parallel: true
  commands: 
    validate_commit: 
      run: node ./validate-commit-message.mjs
pre-push:
  parallel: true
  commands:
    branchName:
      run: npx validate-branch-name

feat(NATE-001): 🧱 Add `CODEOWNER` file
  .github/CODEOWNERS
  validate-commit-message.mjs
Due: lint-check

chore(NATE-002): 🧹 Update `.gitignore` to exclude MacOS and Windows system files
  .DS_Store
  .gitignore
Due: none

chore(NATE-003): 🧹 Make the repo a template
  .extras/validate-commit-message.mjs
  .lefthook.yml
  .npmrc
  .vscode/settings.json
  Dockerfile
  biome.jsonc
  package-lock.json
  package.json
  src/api/http/server.ts
  src/api/http/v1/index.ts
  src/api/http/v1/middleware.ts
  src/api/http/v1/models.ts
  src/api/http/v1/routes/resources.ts
  src/api/init.ts
  src/app-state-manager.ts
  src/config.ts
  src/domain/init.ts
  src/domain/models/audit-record.ts
  src/domain/models/entity.ts
  src/domain/models/resource.ts
  src/domain/models/time-zone.ts
  src/domain/services/index.ts
  src/domain/services/resources.ts
  src/domain/spi-ports/resource-repository.ts
  src/index.ts
  src/spi/init.ts
  src/spi/repositories/init.ts
  src/spi/repositories/models.ts
  src/spi/repositories/resource/index.ts
  src/spi/repositories/resource/model.ts
  src/start.ts
  src/types.ts
Due: lint-check, type-check, spell-check

feat(NATE-004): ✨ Add `renovate.json`
  .github/renovate.json
Due: lint-check

feat(NATE-005): ✨ Introduce configuration and domain management with new types and middleware
  .env.example
  .gitignore
  .vscode/settings.json
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  src/api/http/app.ts
  src/api/http/middleware/domain.ts
  src/api/http/middleware/index.ts
  src/api/http/v1/index.ts
  src/api/http/v1/middleware.ts
  src/api/http/v1/models.ts
  src/api/index.ts
  src/domain/index.ts
  src/domain/models/resource.ts
  src/domain/services/index.ts
  src/domain/services/resource.ts
  src/domain/spi-ports/resource-repository.ts
  src/index.ts
  src/models/audit-record.ts
  src/models/entity.ts
  src/models/time-zone.ts
  src/spi/index.ts
  src/spi/repositories/index.ts
  src/spi/repositories/resource/index.ts
  src/spi/repositories/resource/model.ts
  src/start.ts
  src/utils/app-state-manager.ts
  src/utils/config.ts
  src/utils/instrumentation.ts
  src/utils/types.ts
  src/utils/validation.ts
  validate-commit-message.mjs
Due: lint-check, type-check, spell-check

feat(NATE-006): ✨ Update validation messages for locale and time zone
  package-lock.json
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

feat(NATE-006): ✨ Update validation messages for locale and time zone
  package-lock.json
  src/models/time-zone.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

feat(NATE-007): ✨ Update boolean validation
  src/domain/models/resource.ts
  src/domain/services/resource.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

feat(NATE-006): ✨ Update validation messages for locale and time zone
  src/models/time-zone.ts
Due: lint-check, type-check, spell-check

feat(NATE-008): ✨ Add Vitest configuration and validation tests
  .vscode/settings.json
  package-lock.json
  package.json
  src/utils/validation.test.ts
  src/utils/validation.ts
  vitest.config.ts
Due: lint-check, type-check, spell-check

feat(NATE-009): ✨ Enhance middleware with additional features including request id, secure headers, timeout, compression, and timing
  src/api/http/middleware/index.ts
Due: lint-check, type-check, spell-check

feat(NATE-010): ✨ Add country validation schema with tests for valid and invalid country iso codes
  src/utils/validation.test.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

feat(NATE-011): ✨ Update biome.jsonc to ignore additional directories in file configuration
  biome.jsonc
Due: lint-check

feat(NATE-012): ✨ Upgrade OpenTelemetry SDK dependencies
  package-lock.json
  package.json
  src/spi/repositories/models.ts
Due: lint-check, type-check, spell-check

refactor(NATE-013): ✨ Refactor environment variable handling, update middleware context, and improve type definitions
  .env
  .gitignore
  .lefthook.yml
  src/api/http/app.ts
  src/api/http/middleware/domain.ts
  src/api/http/v1/models.ts
  src/api/http/v1/routes/resources.ts
Due: lint-check, type-check, spell-check

feat(NATE-014): ✨ Update Renovate configuration, add CI workflow, and enhance linting scripts
  .github/pull-request.yml
  .github/renovate.json
  package-lock.json
  package.json
Due: lint-check

feat(Nate-015): ✨ Enhance pre-commit hooks, update VSCode settings, and clean up unused types in models
  .github/pull-request.yml
  .lefthook.yml
  .vscode/settings.json
  knip.jsonc
  src/api/index.ts
  src/models/audit-record.ts
  src/models/entity.ts
  src/utils/app-state-manager.ts
  src/utils/validation.test.ts
  src/utils/validation.ts
Due: lint-check, type-check, spell-check

feat(NATE-016): ✨ Add "knip" to cspell words in package.json
  .github/workflows/pull-request.yml
  package.json
Due: lint-check

feat(NATE-017): 🎯 Rename pull request job for clarity in workflow
  .github/workflows/pull-request.yml
Due: none

feat(NATE-018): 🎯 Update pull request workflow to trigger on pull requests
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
  .lefthook.yml
  knip.jsonc
  package-lock.json
  package.json
  vitest.config.ts
Due: lint-check, type-check, spell-check

test(NATE-019): 🧪 Add unit tests for AppStateManager
  .github/workflows/build.yml
  .lefthook.yml
  package.json
  src/api/index.ts
  src/index.ts
  src/utils/app-state-manager/index.test.ts
  src/utils/app-state-manager/index.ts
Due: lint-check, type-check, spell-check

feat(NATE-020): ✨ Add custom GitHub Renovate configuration for enhanced dependency management
  .github/renovate.json
  .lefthook.yml
Due: lint-check

feat(NATE-021): ✨ Update CI workflow to support branch matrix and coverage reporting
  .github/workflows/build.yml
  knip.jsonc
  src/spi/repositories/resource/index.test.ts
Due: lint-check, type-check, spell-check
